 <div class="container">
    <h2 class="title">{{ isEdit ? "Update a New Post" : "Create a Post"}}</h2>

    <div class="button-group">
      <button [routerLink]="['']" class="btn primary-btn">Home</button>
      <button [routerLink]="['/post']" class="btn secondary-btn">Posts</button>
    </div>
    <form [formGroup]="postForm"  (ngSubmit)="onSubmit()">
      <label for="title">Title:</label>
      <input type="text" id="title" formControlName="title" required>

      <label for="description">Description:</label>
      <textarea id="description" formControlName="description" rows="5" cols="40" required></textarea>
      <div class="form-btn-right">
        <button class="btn secondary-btn" type="submit">{{ isEdit ? "Update" : "Submit"}}</button>
      </div>
    </form>
  </div>
