<div class="post-list-container">
    <h1 class="page-title">Post List</h1>

    <div class="top-buttons">
        <button [routerLink]="['']" class="btn primary-btn">Home</button>
        <button [routerLink]="['/create']" class="btn secondary-btn">Create Post</button>
    </div>

    <table class="post-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts; index as i">
                <td>{{ i + 1}}</td>
                <td>{{ post?.title }}</td>
                <td>{{ post?.description }}</td>
                <td class="button-row">
            <button [routerLink]="['show', post?.id]" class="btn btn-warning">Show</button>
            <button [routerLink]="['edit', post?.id]" class="btn btn btn-info">Edit</button>
            <button  class="btn btn btn-danger">Delete</button>
            <!-- AGGIUNGI IL METODO DELETE  -->
          </td>
            </tr>
        </tbody>
    </table>